.chessboard-container {
    width:500px;
    height:500px;
    display: inline;
}

.chessboard-overlay {
    position: absolute;
    z-index:6;
    background:rgba(0, 0, 0, 0.5);
    width: 560px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}