.chessboard-game-over-popup {
    width:240px;
    height:150px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.chessboard-game-over-popup .chessboard-game-over-header h2{
    font-size: 30px;
}

.chessboard-game-over-popup button{
    margin-top: 10px;
}

