.chessboard-promotion-overlay-banner {
    background-color: black;
    color: white;
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap:20px
}

.chessboard-promotion-overlay-banner .chessboard-promotion-overlay-icon-frame {
    width:100px;
    overflow: hidden;
}

.chessboard-promotion-overlay-banner .chessboard-promotion-overlay-icon {
    object-fit: fill;
    width: 100%;
    height:100%;
}

.chessboard-promotion-overlay-banner .chessboard-promotion-overlay-icon:hover {
    cursor: pointer;
    background-color: rgba(120, 120, 120, 0.15);
}