.connectivity.status-interface-container {
    background-color: var(--primary);
    border-radius: 5px;
    display: grid;
    width: 200px;
    height:400px;
    color: rgb(160, 176, 192);
    grid-template-rows: minmax(40px,2fr) repeat(10,1fr) ;
}

.connectivity .status-header {
    grid-row-start: 1;
    grid-column-end: 2;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectivity .status-sub-header {
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0px 5px;
    text-align: center;
}

.connectivity .status-sub-header > h3 {
    font-size: 20px;
}

.connectivity .status-header > h1 {
    font-size: 30px;
}

.connectivity .status-players {
    grid-row-start: 3;
    grid-row-end: 6;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

.connectivity .status-players-playertag {
    height:30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.connectivity .status-players-playertag::before {
    content:"";
    display: inline-block;
    border-radius: 50%;
    width:10px;
    height:10px;
    margin-right: 10px;
    background-color: rgb(225, 236, 236);
}

.connectivity .status-button-container {
    grid-row: span 2;
    display: flex;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    padding: 5px;
}

.connectivity .status-button-container > button {
    width: 100%;
    height:100%;
    background-color: rgb(15, 169, 15);
    border-radius: 10px;
    border: 1px solid rgb(1, 112, 10);
    color: rgb(241, 241, 241);
    font-weight: 550;
    letter-spacing: 0.3px;
}

.connectivity .status-button-container > button:hover {
    box-shadow: 0px 0px 3px 0px rgb(161, 161, 161);
    background-color: rgb(15, 179, 15)
}

.connectivity .status-button-container > button:focus {
    box-shadow: 0px 0px 3px 0px rgb(161, 161, 161);
    background-color: rgb(15, 179, 15)
}

.connectivity .status-paste-field-container {
    grid-row: span 1;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 5px 10px;
}

.connectivity .status-paste-field-container:hover {
    cursor:pointer;
    color: white;
}













.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: #9880ff;
    }
    50%, 100% {
      background-color: rgba(152, 128, 255, 0.2);
    }
  }
