.top-nav-bar {
    --rgb: 20,20,20;
    --hoverRGB: 235,235,235;
    --navBarShadowSize: 3px;
}

.top-nav-bar {
    position: relative;
    height: 10%;
    background-color: rgba(var(--rgb));
    text-align: center;
    box-shadow:0px 0px 3px var(--navBarShadowSize) rgba(0,0,0, 0.2);
    margin:0px 0px var(--navBarShadowSize) 0px
}

.top-nav-bar .nav-container {
}

.top-nav-bar .link {
    text-align: center;
    color: whitesmoke;
    transition: 500ms;
    padding: 4px 15px;
    border-radius: 15%;
    font-size: 25px;
}

.top-nav-bar .link.active {
    color:lightslategray
}

.top-nav-bar .link:hover {
    text-align: center;
    color: lightskyblue;
    background-color: rgba(var(--hoverRGB), 0.05);
}