.chessboard-container {
    position: relative;
    display: inline;
}

.chessboard-overlay {
    position: absolute;
    z-index:6;
    background:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}